<form action="/payment/results">

  <label for="APR">APR</label>
  <input id="APR" type="text" placeholder="E.g. 5.42" name="apr">

  <label for="Years">Number of years</label>
  <input id="Years" type="text" placeholder="How many years to repay?" name="num_years">

  <label for="Principal">Principal</label>
  <input id="Principal" type="text" placeholder="How much principal?" name="principal">

  <button>Calculate monthly payment</button>

</form>
