
<form action="/random/results">

  <label for="Min">Minimum</label>
  <input id="Min" type="text" placeholder="E.g. 1.5" name="user_min">

  <label for="Max">Maximum</label>
  <input id="Max" type="text" placeholder="E.g. 4.5" name="user_max">

  <button>Pick random number</button>

</form>
