<h1>howdy</h1>

<form action="/square_root/results">

  <label for="Num_to_squareroot">Enter a number</label>

  <input id="Num_to_squareroot" type="text" placeholder="What number do you want to square root?" name="num_to_sq">

  <button>Calculate square root</button>

</form>
